.btn {
    text-align: center;
    display: block;
    vertical-align: middle;
    border: 1px solid $color-main;
    color: $color-main !important;
    padding: 15px;
    margin: 50px auto;
    width: 100%;
    max-width: 400px;
    cursor: pointer;
}

@include mq(mdMin) {
    .btn {
        padding: 20px;
    }
}
